# Análisis de Métodos

Integrantes: Erick Bey,
Matias Orozco,
Alvaro Parker

In [2]:
#conda install -c conda-forge plotnine

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\matia\anaconda3

  added / updated specs:
    - plotnine


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.12.0               |   py39hcbf5309_0         1.0 MB  conda-forge
    descartes-1.1.0            |             py_4           7 KB  conda-forge
    mizani-0.7.4               |     pyhd8ed1ab_0          54 KB  conda-forge
    palettable-3.3.0           |             py_0          86 KB  conda-forge
    plotnine-0.8.0             |     pyhd8ed1ab_0         3.8 MB  conda-forge
    python_abi-3.9             |           2_cp39           4 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         5.0 MB

The following NEW packages will be INSTALLED:

  descartes          conda-forge/noarch::descartes-1.1.0-py_4
  mizani             conda-forge/noarch::mizani-0.7.4-pyhd8ed1ab_0
  palettable         conda-forge/noarch::palettable-3.3.0-py_0
  plotnine           conda-forge/noarch::plotnine-0.8.0-pyhd8ed1ab_0
  python_abi         conda-forge/win-64::python_abi-3.9-2_cp39

The following packages will be SUPERSEDED by a higher-priority channel:

  conda              pkgs/main::conda-4.12.0-py39haa95532_0 --> conda-forge::conda-4.12.0-py39hcbf5309_0



Note: you may need to restart the kernel to use updated packages.

Downloading and Extracting Packages

python_abi-3.9       | 4 KB      |            |   0%

WARNING conda.gateways.disk.delete:unlink_or_rename_to_trash(143): Could not remove or rename C:\Users\matia\anaconda3\Lib\site-packages\conda\cli\main.py.  Please remove this file manually (you may need to reboot to free file handles)

python_abi-3.9       | 4 KB      | ########## | 100%
python_abi-3.9       | 4 KB      | ########## | 100%

plotnine-0.8.0       | 3.8 MB    |            |   0%
plotnine-0.8.0       | 3.8 MB    |            |   0%
plotnine-0.8.0       | 3.8 MB    | #4         |  14%
plotnine-0.8.0       | 3.8 MB    | ###        |  31%
plotnine-0.8.0       | 3.8 MB    | ######3    |  63%
plotnine-0.8.0       | 3.8 MB    | #########5 |  95%
plotnine-0.8.0       | 3.8 MB    | ########## | 100%

mizani-0.7.4         | 54 KB     |            |   0%
mizani-0.7.4         | 54 KB     | ##9        |  29%
mizani-0.7.4         | 54 KB     | ########## | 100%
mizani-0.7.4         | 54 KB     | ########## | 100%

palettable-3.3.0     | 86 KB     |            |   0%
palettable-3.3.0     | 86 KB     | #8         |  19%
palettable-3.3.0     | 86 KB     | ########## | 100%
palettable-3.3.0     | 86 KB     | ########## | 100%

conda-4.12.0         | 1.0 MB    |            |   0%
conda-4.12.0         | 1.0 MB    | ########## | 100%
conda-4.12.0         | 1.0 MB    | ########## | 100%

descartes-1.1.0      | 7 KB      |            |   0%
descartes-1.1.0      | 7 KB      | ########## | 100%
descartes-1.1.0      | 7 KB      | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [1]:
import numpy as np
import pandas as pd
from plotnine import *

### Importar ALUMNOS-trainData.csv

In [ ]:
df_train = pd.read_csv("ALUMNOS-trainData.csv")
df.info()
df

In [8]:
#Obtener si hay datos duplicados
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, date, fligth_number, origin, destination, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, departure_time, capacity, revenues_usd, bookings]
Index: []

[0 rows x 22 columns]

In [11]:
print(df["noshow"].value_counts().to_markdown())

|     |   noshow |
|----:|---------:|
|   4 |   103391 |
|   3 |   102522 |
|   5 |    97091 |
|   2 |    95235 |
|   6 |    86540 |
|   1 |    75756 |
|   7 |    74491 |
|   0 |    71100 |
|   8 |    61628 |
|   9 |    49557 |
|  10 |    40086 |
|  11 |    31180 |
|  12 |    24180 |
|  13 |    18851 |
|  14 |    14334 |
|  15 |    11009 |
|  16 |     8504 |
|  17 |     6642 |
|  18 |     5097 |
|  19 |     3968 |
|  20 |     3168 |
|  21 |     2551 |
|  22 |     2062 |
|  23 |     1597 |
|  24 |     1295 |
|  25 |     1112 |
|  26 |      867 |
|  27 |      731 |
|  28 |      624 |
|  29 |      542 |
|  30 |      461 |
|  31 |      404 |
|  32 |      337 |
|  33 |      297 |
|  34 |      267 |
|  35 |      214 |
|  36 |      202 |
|  37 |      199 |
|  39 |      159 |
|  38 |      156 |
|  40 |      129 |
|  44 |      108 |
|  41 |      105 |
|  42 |      101 |
|  43 |       88 |
|  46 |       85 |
|  45 |       63 |
|  47 |       60 |
|  48 |       50 |
|  49 |       50 |
|  53 |       50 |
|  50 |       46 |
|  51 |       43 |
|  52 |       42 |
|  56 |       35 |
|  55 |       31 |
|  58 |       28 |
|  54 |       28 |
|  60 |       28 |
|  57 |       24 |
|  59 |       23 |
|  64 |       16 |
|  62 |       16 |
|  66 |       15 |
|  68 |       15 |
|  63 |       13 |
|  65 |       12 |
|  69 |       12 |
|  67 |       10 |
|  61 |        9 |
|  71 |        9 |
|  76 |        9 |
|  78 |        8 |
|  70 |        7 |
|  72 |        7 |
|  73 |        7 |
|  77 |        7 |
|  75 |        6 |
|  80 |        5 |
|  84 |        5 |
|  88 |        4 |
|  92 |        4 |
|  79 |        4 |
| 104 |        4 |
|  86 |        4 |
| 101 |        3 |
|  83 |        3 |
|  87 |        3 |
|  85 |        3 |
| 110 |        3 |
|  74 |        3 |
|  81 |        3 |
|  82 |        3 |
| 100 |        3 |
|  91 |        3 |
|  90 |        3 |
| 102 |        2 |
| 117 |        2 |
|  95 |        2 |
| 120 |        2 |
| 109 |        2 |
|  96 |        2 |
| 126 |        1 |
|  97 |        1 |
| 146 |        1 |
| 271 |        1 |
| 177 |        1 |
| 112 |        1 |
| 106 |        1 |
| 115 |        1 |
|  93 |        1 |
| 124 |        1 |
| 105 |        1 |
|  99 |        1 |
| 108 |        1 |

# KNN

**Modificaciones posibles:**
* No aplicarle logaritmo a la columna `date_departure_time` (eso implica tener numeros enteros muy grandes).
* Eliminar las columnas `origin` y `destinaton` (no se puede medir distancia con ellas)
* Cambiar el argumento `n_neighbors`a un numero distinto cuando se llama a la funcion `KNeighborsClassifier()`

In [3]:
import numpy as np
import pandas as pd
from plotnine import *

def procesar_csv(df):
    from sklearn import preprocessing
    # convertirmos las columnas origin y destination a variables numericas 
    le = preprocessing.LabelEncoder()
    origin_as_int = le.fit_transform(df['origin'])
    destination_as_int = le.fit_transform(df["destination"])
    
    df["origin_int"] = origin_as_int
    df.drop('origin', axis=1, inplace=True)
    
    df["destination_int"] = origin_as_int
    df.drop('destination', axis=1, inplace=True)

    # Cambiamos el formato del tiempo a unix time stamp para medir la distancia de forma mas facil.
    df["date_departure_int"] = np.log10(pd.to_datetime(df["date"].map(str)+" "+df["departure_time"]).apply(lambda x: x.value))
    df.drop('departure_time', axis=1, inplace=True)
    df.drop('date', axis=1, inplace=True)
    # retornamos el data frame modificado sin valore nulos.
    return df.dropna()

In [4]:
# Leemos los datos
df = pd.read_csv("ALUMNOS-trainData.csv")
# Procesamos los datos con la funcion procesar_csv()
df = procesar_csv(df)
# transformamos los datos a binarios
df["nowshow"] = np.where(df["noshow"] >= 4, 1,0)
# Definimos nuestra columna target
target = df['nowshow']
# La eliminamos del dataframe
df.drop('noshow', axis=1, inplace=True)

/Users/parker/Documents/jupy/lib/python3.8/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log10

In [5]:
from sklearn.model_selection import train_test_split
# Dividimos los data frames en test y train set
X_train, X_test, y_train, y_test = train_test_split(df,target, test_size=0.33,random_state=42)

In [6]:
#Obtener si hay datos duplicados
#new_df[new_df.duplicated()]
from IPython.display import display

display(X_train)
display(X_test)

,Unnamed: 0,fligth_number,distance,denied_boarding,pax_midlow,pax_high,pax_midhigh,pax_low,pax_freqflyer,group_bookings,...,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings,origin_int,destination_int,date_departure_int,nowshow
27445,75613,5992,366,0,65,0,8,36,10,0,...,30,4,85,144.0,3214.2,119,124,124,18.091960,0
774699,218593,4820,2380,0,84,1,0,65,27,0,...,19,0,158,168.0,15054.7,177,146,146,18.095554,1
685130,692408,5832,2462,0,126,12,17,54,28,0,...,18,15,204,220.0,35537.7,237,52,52,18.107239,1
168458,804068,5557,2296,0,136,0,1,60,7,5,...,22,49,133,220.0,22983.5,204,99,99,18.109922,1
675740,1014326,6894,2459,0,109,11,1,46,11,0,...,0,110,68,220.0,25909.3,178,79,79,18.114913,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259555,1223046,5085,402,0,67,1,1,30,2,0,...,46,26,29,174.0,4002.8,101,17,17,18.119749,1
366361,1022974,5187,279,0,6,0,0,94,14,0,...,1,4,109,144.0,3891.8,114,32,32,18.115142,1
132130,270467,6104,287,0,143,0,4,132,10,9,...,61,20,208,174.0,4459.4,289,15,15,18.096751,1
672086,729738,7191,586,0,19,25,8,30,3,4,...,67,18,0,144.0,8108.5,85,41,41,18.108113,0
122138,132717,8732,8232,0,192,4,1,143,32,30,...,0,116,256,272.0,91938.4,372,67,67,18.093391,1

,Unnamed: 0,fligth_number,distance,denied_boarding,pax_midlow,pax_high,pax_midhigh,pax_low,pax_freqflyer,group_bookings,...,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings,origin_int,destination_int,date_departure_int,nowshow
118754,89460,6068,487,0,55,1,1,55,6,0,...,20,1,97,174.0,5042.1,118,96,96,18.092298,1
557683,905955,6232,361,0,115,0,5,78,5,0,...,110,1,92,174.0,5970.1,203,27,27,18.112365,1
920464,190422,6145,687,0,88,0,0,85,4,0,...,0,11,166,174.0,6004.4,177,17,17,18.094854,0
342002,373378,5686,854,0,69,5,20,46,26,0,...,42,34,90,174.0,9465.3,166,52,52,18.099215,1
795703,459396,6564,2459,0,81,4,2,29,12,0,...,0,128,0,168.0,23028.7,128,79,79,18.101283,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437790,1087879,4688,415,0,116,0,0,110,69,0,...,43,24,228,220.0,2490.6,295,99,99,18.116740,1
21087,1187376,5957,730,0,101,1,3,0,7,0,...,10,40,62,174.0,7913.0,112,148,148,18.118950,1
772657,233196,5850,514,0,103,13,1,77,21,0,...,24,40,151,174.0,5844.6,215,52,52,18.095912,0
276786,1114394,7955,1069,0,81,1,0,8,13,0,...,0,63,40,174.0,7519.1,103,44,44,18.117354,0
447843,584262,9000,916,0,78,0,29,77,25,0,...,1,2,206,218.0,9626.0,209,122,122,18.104504,1

In [7]:
#Creando un objeto KNN con las condiciones iniciales
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier(n_neighbors=20,weights="uniform")
#El objeto ha sido creado


#Entrenando el modelo con los datos X_train
KNN=KNN.fit(X_train,y_train)

In [8]:
#Aplicando el modelo a otros datos

# esta cell es la que mas demora 

# Reservamos memoria para la lista q se creara al usar KNN.predict()
# si no hacemos esto, el uso de memoria ram aumenta considerablemente
resultado = pd.Series(np.array([None]*len(y_test)))
# predecimos usando nuestro X_test 
resultado=KNN.predict(X_test)

In [9]:
from sklearn import metrics as mt
# Evaluacion:
accuracy = mt.accuracy_score(y_test, resultado)

precicion_para_cero = mt.precision_score(y_test==0,resultado==0,pos_label=1,average="binary")
precicion_para_uno = mt.precision_score(y_test == 1, resultado == 1, pos_label=1, average="binary")

lista = mt.precision_score(y_test,resultado,labels=[0,1],average=None)

recall_score = mt.recall_score(y_test, resultado, labels=None, pos_label=1, average = 'binary')

f1_score = mt.f1_score(y_test, resultado, labels=None, pos_label=1, average = 'binary')

In [10]:
print(f"Accuracy: {accuracy}")
print(f"Precicion para 0: {precicion_para_cero}")
print(f"Precicion para 1: {precicion_para_uno}")
print(f"Recall score: {recall_score}")
print(f"f1 Score: {f1_score}")

Accuracy: 0.6606483841988977
Precicion para 0: 0.5126765356474392
Precicion para 1: 0.6967668369523766
Recall score: 0.8541765027170642
f1 Score: 0.7674836917305584