# Análisis de Métodos

Integrantes: Erick Bey,
Matias Orozco,
Alvaro Parker

In [2]:
#conda install -c conda-forge plotnine

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\matia\anaconda3

  added / updated specs:
    - plotnine


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.12.0               |   py39hcbf5309_0         1.0 MB  conda-forge
    descartes-1.1.0            |             py_4           7 KB  conda-forge
    mizani-0.7.4               |     pyhd8ed1ab_0          54 KB  conda-forge
    palettable-3.3.0           |             py_0          86 KB  conda-forge
    plotnine-0.8.0             |     pyhd8ed1ab_0         3.8 MB  conda-forge
    python_abi-3.9             |           2_cp39           4 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         5.0 MB

The following NEW packages will be INSTALLED:

  descartes          conda-forge/noarch::descartes-1.1.0-py_4
  mizani             conda-forge/noarch::mizani-0.7.4-pyhd8ed1ab_0
  palettable         conda-forge/noarch::palettable-3.3.0-py_0
  plotnine           conda-forge/noarch::plotnine-0.8.0-pyhd8ed1ab_0
  python_abi         conda-forge/win-64::python_abi-3.9-2_cp39

The following packages will be SUPERSEDED by a higher-priority channel:

  conda              pkgs/main::conda-4.12.0-py39haa95532_0 --> conda-forge::conda-4.12.0-py39hcbf5309_0



Note: you may need to restart the kernel to use updated packages.

Downloading and Extracting Packages

python_abi-3.9       | 4 KB      |            |   0%

WARNING conda.gateways.disk.delete:unlink_or_rename_to_trash(143): Could not remove or rename C:\Users\matia\anaconda3\Lib\site-packages\conda\cli\main.py.  Please remove this file manually (you may need to reboot to free file handles)

python_abi-3.9       | 4 KB      | ########## | 100%
python_abi-3.9       | 4 KB      | ########## | 100%

plotnine-0.8.0       | 3.8 MB    |            |   0%
plotnine-0.8.0       | 3.8 MB    |            |   0%
plotnine-0.8.0       | 3.8 MB    | #4         |  14%
plotnine-0.8.0       | 3.8 MB    | ###        |  31%
plotnine-0.8.0       | 3.8 MB    | ######3    |  63%
plotnine-0.8.0       | 3.8 MB    | #########5 |  95%
plotnine-0.8.0       | 3.8 MB    | ########## | 100%

mizani-0.7.4         | 54 KB     |            |   0%
mizani-0.7.4         | 54 KB     | ##9        |  29%
mizani-0.7.4         | 54 KB     | ########## | 100%
mizani-0.7.4         | 54 KB     | ########## | 100%

palettable-3.3.0     | 86 KB     |            |   0%
palettable-3.3.0     | 86 KB     | #8         |  19%
palettable-3.3.0     | 86 KB     | ########## | 100%
palettable-3.3.0     | 86 KB     | ########## | 100%

conda-4.12.0         | 1.0 MB    |            |   0%
conda-4.12.0         | 1.0 MB    | ########## | 100%
conda-4.12.0         | 1.0 MB    | ########## | 100%

descartes-1.1.0      | 7 KB      |            |   0%
descartes-1.1.0      | 7 KB      | ########## | 100%
descartes-1.1.0      | 7 KB      | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [3]:
import numpy as np
import pandas as pd
from plotnine import *

### Importar ALUMNOS-trainData.csv

In [7]:
df_train = pd.read_csv("ALUMNOS-trainData.csv")
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999890 entries, 0 to 999889
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       999890 non-null  int64
 1   date             999890 non-null  object
 2   fligth_number    999890 non-null  int64
 3   origin           999890 non-null  object
 4   destination      999890 non-null  object
 5   distance         999890 non-null  int64
 6   noshow           999890 non-null  float64
 7   denied_boarding  999890 non-null  int64
 8   pax_midlow       999890 non-null  int64
 9   pax_high         999890 non-null  int64
 10  pax_midhigh      999890 non-null  int64
 11  pax_low          999890 non-null  int64
 12  pax_freqflyer    999890 non-null  int64
 13  group_bookings   999890 non-null  int64
 14  out_of_stock     999890 non-null  int64
 15  dom_cnx          999890 non-null  int64
 16  int_cnx          999890 non-null  int64
 17  p2p              999890 non-null  int64
 18  departure_time   998472 non-null  object
 19  capacity         999890 non-null  float64
 20  revenues_usd     999890 non-null  float64
 21  bookings         999890 non-null  int64
dtypes: float64(3), int64(15), object(4)
memory usage: 167.8+ MB

,Unnamed: 0,date,fligth_number,origin,destination,distance,noshow,denied_boarding,pax_midlow,pax_high,...,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,departure_time,capacity,revenues_usd,bookings
0,389083,2009-11-09,8995,BBA,SCL,1394,9.0,0,94,2,...,22,19,0,1,0,239,10:30:00,174.0,10631.1,240
1,177073,2009-05-23,7061,LIM,TRU,489,0.0,0,100,4,...,25,0,0,19,9,192,19:20:00,174.0,5453.7,220
2,1040357,2011-05-09,8972,SCL,PUQ,2180,4.0,0,7,1,...,2,0,0,0,10,69,09:54:00,218.0,16161.0,79
3,505258,2010-02-12,6039,CGH,CNF,524,13.0,0,54,4,...,4,0,0,26,0,64,21:00:00,174.0,10828.7,90
4,369663,2009-10-24,7713,GPS,GYE,1170,14.0,0,21,88,...,0,88,1,23,3,183,12:40:00,144.0,16721.6,209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999885,359783,2009-10-16,6024,UDI,CGH,552,5.0,0,25,12,...,12,0,0,64,9,0,15:14:00,144.0,14102.1,73
999886,152315,2009-05-03,6669,LIM,HAV,3934,4.0,0,129,3,...,2,20,0,0,118,156,08:50:00,168.0,32907.8,274
999887,1000747,2011-04-04,9094,IQQ,SCL,1430,5.0,0,2,1,...,20,36,0,7,0,124,14:18:00,218.0,13519.3,131
999888,117952,2009-04-04,7704,GYE,SCY,1091,2.0,0,67,2,...,16,0,0,34,2,98,08:05:00,144.0,8729.6,134
999889,305711,2009-09-02,7746,UIO,GYE,283,10.0,0,72,1,...,2,0,0,5,3,119,17:35:00,144.0,3031.0,127

In [8]:
#Obtener si hay datos duplicados
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, date, fligth_number, origin, destination, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, departure_time, capacity, revenues_usd, bookings]
Index: []

[0 rows x 22 columns]

In [11]:
print(df["noshow"].value_counts().to_markdown())

|     |   noshow |
|----:|---------:|
|   4 |   103391 |
|   3 |   102522 |
|   5 |    97091 |
|   2 |    95235 |
|   6 |    86540 |
|   1 |    75756 |
|   7 |    74491 |
|   0 |    71100 |
|   8 |    61628 |
|   9 |    49557 |
|  10 |    40086 |
|  11 |    31180 |
|  12 |    24180 |
|  13 |    18851 |
|  14 |    14334 |
|  15 |    11009 |
|  16 |     8504 |
|  17 |     6642 |
|  18 |     5097 |
|  19 |     3968 |
|  20 |     3168 |
|  21 |     2551 |
|  22 |     2062 |
|  23 |     1597 |
|  24 |     1295 |
|  25 |     1112 |
|  26 |      867 |
|  27 |      731 |
|  28 |      624 |
|  29 |      542 |
|  30 |      461 |
|  31 |      404 |
|  32 |      337 |
|  33 |      297 |
|  34 |      267 |
|  35 |      214 |
|  36 |      202 |
|  37 |      199 |
|  39 |      159 |
|  38 |      156 |
|  40 |      129 |
|  44 |      108 |
|  41 |      105 |
|  42 |      101 |
|  43 |       88 |
|  46 |       85 |
|  45 |       63 |
|  47 |       60 |
|  48 |       50 |
|  49 |       50 |
|  53 |       50 |
|  50 |       46 |
|  51 |       43 |
|  52 |       42 |
|  56 |       35 |
|  55 |       31 |
|  58 |       28 |
|  54 |       28 |
|  60 |       28 |
|  57 |       24 |
|  59 |       23 |
|  64 |       16 |
|  62 |       16 |
|  66 |       15 |
|  68 |       15 |
|  63 |       13 |
|  65 |       12 |
|  69 |       12 |
|  67 |       10 |
|  61 |        9 |
|  71 |        9 |
|  76 |        9 |
|  78 |        8 |
|  70 |        7 |
|  72 |        7 |
|  73 |        7 |
|  77 |        7 |
|  75 |        6 |
|  80 |        5 |
|  84 |        5 |
|  88 |        4 |
|  92 |        4 |
|  79 |        4 |
| 104 |        4 |
|  86 |        4 |
| 101 |        3 |
|  83 |        3 |
|  87 |        3 |
|  85 |        3 |
| 110 |        3 |
|  74 |        3 |
|  81 |        3 |
|  82 |        3 |
| 100 |        3 |
|  91 |        3 |
|  90 |        3 |
| 102 |        2 |
| 117 |        2 |
|  95 |        2 |
| 120 |        2 |
| 109 |        2 |
|  96 |        2 |
| 126 |        1 |
|  97 |        1 |
| 146 |        1 |
| 271 |        1 |
| 177 |        1 |
| 112 |        1 |
| 106 |        1 |
| 115 |        1 |
|  93 |        1 |
| 124 |        1 |
| 105 |        1 |
|  99 |        1 |
| 108 |        1 |